<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="testintranet2" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Python Interpreter" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Program Files\Python312\python.exe&quot; %s %s" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
